@charset "UTF-8";

/* #################### ################################ #################### */


/* #################### RELEVANT CODE STARTS AT LINE 145 #################### */


/* #################### ################################ #################### */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #EDEEE9;
    /* #################### ########################### #################### */
    /* #################### All form-related CSS below. #################### */
    /* #################### ########################### #################### */
}

html body {
    background-color: #EDEEE9;
    color: #303030;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    width: 100%;
    padding: 2.5vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html body h1 {
    font-size: clamp(1rem, 6vw, 10rem);
    margin: 15vh 0 2rem;
}

html body a {
    text-decoration: underline;
    color: #303030;
}

html body code {
    font-size: 1rem;
    padding: 0 0.5rem;
    background-color: #D8DBCE;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 1.5rem;
    background-color: #D8DBCE;
}

@media (min-width: 768px) {
    html body .container {
        flex-direction: row;
        align-items: center;
    }
}

html body .container .cta-form {
    margin-bottom: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    html body .container .cta-form {
        margin-bottom: 0;
        margin-right: 2rem;
        text-align: left;
    }
}

.container .cta-form h2 {
    font-size: 1.5rem;
    width: 100%;
    max-width: 25ch;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    html body .container .cta-form h2 {
        text-align: left;
        margin: 0;
    }
}

body .container .cta-form p {
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    max-width: 24ch;
}

html .form {
    align-self: center;
}

html .form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid #303030;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

@media (min-width: 768px) {
    html .form__input {
        width: clamp(120px, 35vw, 420px);
    }
}

html .form__input:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
}

html .form__input:focus+.form__label,
html .form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-4.5rem) scale(1);
    color: #303030;
}

html .form__input::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

html .form__input:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
}

html .form__label {
    font-size: 1rem;
    color: #909090;
    display: block;
    /* Moves the label on TOP of the placeholder */
    /* You'll need to change this as needed */
    transform: translate(1.25rem, -2.5rem);
    transform-origin: 0 0;
    /* Used later for transitions */
    transition: all 500ms;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    /* THIS PART IS IMPORTANT! */
    /* This line prevents the label from being selected.*/
    /* This is crucial because if this line doesn't exist, users can
     click on the label, instead of the input field. That's bad UX! */
    pointer-events: none;
}

.but-login {
    width: 218px;
    height: 68px;
    background: #286CFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 22px;
    cursor: pointer;
}

.but-login:hover {
    background: #1e50cc;
}