* {
    font-family: 'montserrat';
}

body {
    background-color: #C3FAC1;
}

.navbar {
    background-color: #44B36F;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand img {
    height: 80px;
    /* Sesuaikan tinggi gambar */
}

.nav-item {
    align-content: center;
    font-size: 30px;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    /* Sesuaikan padding */
}

.nav-link:hover {
    background-color: #5CD180;
    color: white;
    border-radius: 5px;
}

.nav-link-profil {
    text-decoration: none;
    color: white;
    padding: 10px 150px;
}

.profile-item {
    list-style: none;
    padding: 20px 200px;
}

.button-container {
    width: 137px;
    height: 40px;
    position: relative;
}

.button-background {
    width: 137px;
    height: 38px;
    left: 0px;
    top: 2px;
    position: absolute;
    background: #44B36F;
    border-radius: 40px;
    border: 3px white solid;
}

.icon-container {
    width: 38px;
    height: 38px;
    left: 8px;
    top: 0px;
    position: absolute;
}

.icon-background {
    width: 38px;
    height: 38px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.profile-item img {
    width: 25.33px;
    height: 25.33px;
    left: 6.33px;
    top: 6.33px;
    position: absolute;
}

.button-text {
    width: 78px;
    height: 31px;
    left: 46px;
    top: 2px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.button-text:hover {
    color: #5CD180;
}

h2 {
    font-weight: bolder;
    color: #11644A;
    text-align: center;
    margin: 30px;
}

.header-awal {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.daftar-mitra {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.daftar-mitra a {
    font-style: italic;
    color: black;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #6a6a6a;
}

th {
    text-align: center;
    color: #fff;
}